{{column}}:
  {{#hasRef}}
  $ref: '#/components/schemas/{{refType}}'
  {{/hasRef}}
  {{^hasRef}}
  {{#hasArray}}
  type: array
  items:
  {{#hasItemsRef}}
    $ref: '#/components/schemas/{{refType}}'
  {{/hasItemsRef}}
  {{^hasItemsRef}}
    type: {{columnType}}
  {{#hasEnum}}
    enum:
  {{#enumList}}
      - {{&enum}}
  {{/enumList}}
  {{/hasEnum}}
  {{/hasItemsRef}}
  {{/hasArray}}
  {{^hasArray}}
  type: {{columnType}}
  {{#maxLength}}
  maxLength: {{.}}
  {{/maxLength}}
  {{#minLength}}
  minLength: {{.}}
  {{/minLength}}
  {{#format}}
  format: {{.}}
  {{/format}}
  {{#default}}
  default: {{&.}}
  {{/default}}
  {{#hasEnum}}
  enum:
  {{#enumList}}
    - {{&enum}}
  {{/enumList}}
  {{/hasEnum}}
  {{/hasArray}}
  {{/hasRef}}
  {{#hasExtensions}}
  {{#schemaExtensionsList}}
  x-draig-sch-{{key}}: {{&value}}
  {{/schemaExtensionsList}}
  {{/hasExtensions}}
