# API definition file used by all commands or Draig by default
# Change this here if you rename the project file
apiProject: {{project}}.yaml

# OpenAPI generator name (-g param) to use while generating
# (Default: draig)
openapiGenerator: {{generator}}

# Sort method arguments to place required parameters before optional parameters
# (Default: true)
sortParamsByRequiredFlag: true

# Whether to ensure parameter names are unique in an operation
# (rename parameters that are not). (Default: true)
ensureUniqueParams: true

# boolean, toggles whether unicode identifiers are allowed in names or not
# (Default: false)
allowUnicodeIdentifiers: true

# Add form or body parameters to the beginning of the parameter list
# (Default: false)
prependFormOrBodyParameters: false

# TCP port to listen on
serverPort: {{port}}

# Always generate API tests
apiTests: true
testsClean: true

# Generate seed-database.js file on every change of DB or schema using faker
seedGen:
  __useFaker: true

# Database params
dbClient: {{dbClient}}
dbName: {{dbName}}
{{#dbUserName}}
dbUserName: {{.}}
{{/dbUserName}}
{{#dbUserPassword}}
dbUserPassword: {{.}}
{{/dbUserPassword}}
{{#dbHost}}
dbHost: {{.}}
{{/dbHost}}
